html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  height: 100vh;
  margin: 0;
  background-color: $bodyBackColor;
  font-family: "Stolzl", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: $bodyTxtColor;
  overflow-x: hidden;
}

body.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

picture {
  font-size: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}