// @color: #;

// width
$small: 768px;
$medium: 990px;
$large: 1199px;

// color

$bodyBackColor: #4C1DD2;;
$bodyTxtColor: #ffffff;

// btn

$buttonMain: #84c900;

// for hover


// border


// background image



// font size


// elements 



