.navigation {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 35px;

    &:hover {
      color: grey;
    }
  }

  &__close {
    display: none;
  }

  @include medium {
    &__item {
      font-size: 14px;
      margin-right: 30px;
    }
  }

  @include medium {
    display: none;
    position: absolute;
    top: -9px;
    left: 28px;

    padding: 30px 30px 30px 63px;

    width: 350px;

    background-color: #f86161;
    border-radius: 5%;

    box-shadow: 0 0 20px 0px #00000073;
    opacity: 0;

    z-index: 1500;
    transition: opacity 0.2s ease-in-out;


    &__close {
      position: absolute;
      top: 25px;
      left: 25px;

      display: block;

      width: 20px;
      height: 20px;

      background-image: url("../img/header/close.svg");
      background-repeat: no-repeat;
      background-color: transparent;

      border: none;
    }

    &__list {
      flex-direction: column;
    }

    &__item {
      padding: 20px 0;
      font-size: 20px;
    }
  }
}

.navigation.open {
  display: flex;
  opacity: 0.99;
  transition: opacity 0.2s ease-in-out;
}